body{
background-color: rgb(211, 241, 249);
}

h1 {
color: rgb(43, 162, 93);
 font-weight: bold;
 font-size: 100px;
 text-decoration-style: wavy;
}

div
{ background-color: rgba(0, 255, 255, 0);
width: 50vw;
}


#divunico { background-color: aqua(43, 226, 171);}

#dibujo{ width: 40vw;
height: 40vw;
background-color: rgb(197, 186, 255);
display:flex;
justify-content: center;
align-items:center;
}

#cara { width: 20%;
height: 90%;
background-color: rgb(66, 116, 67);
border-radius: 50%;
position:relative;
transition: all 6s;
animation-name: cambiodecolor;
animation-duration: 2.5s;
animation-iteration-count: infinite;
}

@keyframes cambiodecolor {
  0%   {background-color:rgb(42, 255, 163); left:0px; top:0px;}
  25%  {background-color:rgb(38, 97, 53); left:200px; top:0px;}
  50%  {background-color:rgb(189, 240, 210); left:200px; top:200px;}
  75%  {background-color:rgb(15, 255, 107); left:0px; top:200px;}
  100% {background-color:rgb(5, 165, 47); left:0px; top:0px;}
}


#cara:hover {
transform: rotate(360deg) scale(0.5);
}

.ojos{
width: 20%;
height: 20%;
border-radius: 50%;
background-color: aliceblue;
position:absolute;
}

#ojoizq { top: 20%;
left: 20%;

}


#ojoder{ top: 20%;
right: 20%;

}
#boca { justify-content: center;
width: 30%;
height:20%;
background-color: rgb(227, 58, 58);
position: absolute;
top:60%;
left: 35%;
border-radius: 0 0 50% 50%;
}
#boca:hover
{ left: 50%;
background-color: pink;
}


#nariz{ justify-content: center;

width: 40px;
height: 40px;
background-color: #c2f6df; /* Color de piel */
border-radius: 30%;
position: relative;
margin: 50px auto;
box-shadow: 0 4px 6px rgba(0,5,0, 8); /* Sombra inferior */
top: 35%;
}

.pupilas{
width: 40%;
height: 40%;
border-radius: 50%;
background-color: rgb(167, 230, 255);
position:absolute;
}


#pupilaizq { top: 20%;
left: 20%;
}


#pupilader { top: 20%;
right: 20%;
}

.personaje {
position: relative;
width: 200px;
height: 300px;
margin: 50px auto;
}

#texto {font-size-adjust: calc(2);}